@media screen and (max-width: 720px) {
  * {
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
  }
  button {
    /* cursor: pointer; */
    outline: none;
  }
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    background: #f1f2f7;
  }
  .profileOut {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .personalInfoOut {
    /* border: 1px solid green; */
    width: 85vw;
    /* position: sticky;
    top: 2vw; */
    /* left: 5vw; */
    margin-top: 3vw;
    box-shadow: 0.1vw 0.1vw 2vw rgba(0, 0, 0, 0.05);
  }
  .personalInfo {
    /* border: 1px solid blue; */
    background: lightskyblue;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1vw;
    color: white;
    /* height: 30vw; */
  }
  .userImgStyle {
    width: 50%;
    border-radius: 50%;
    margin-top: 4.5vw;
    border: 3vw solid rgba(255, 255, 255, 0.6);
    box-shadow: 0.1vw 0.1vw 3vw rgba(0, 0, 0, 0.05);
  }
  .userName {
    /* border: 1px solid green; */
    font-size: 6vw;
    /* font-weight: bold; */
    margin: 3vw 2vw 0vw 2vw;
    /* text-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.1); */
  }
  .userShortDesc {
    margin: 3.2vw 3vw 4.5vw 3vw;
    font-size: 4vw;
    /* text-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.1); */
  }
  .belowNavOptions {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 2vw rgba(0, 0, 0, 0.01);
  }
  .belowNavOptionsImg {
    width: 6vw;
    margin: 3.2vw 2.5vw;
  }
  .belowNavOptionsText {
    text-decoration: none;
    font-size: 4vw;
    color: black;
  }
  /* .belowNavOptionsText:hover{
    color: lightskyblue;
  } */
  .belowNavOptionsText:active {
    filter: blur(0.3vw);
  }
  .contentOut {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 92vw;
    margin: 3vw 0vw 0vw 0vw;
  }
  .content {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin: 2vw 0vw 0vw 2vw; */
    background: white;
    border-radius: 1vw;
    /* padding: 0vw 1.8vw 1vw 1.8vw; */
    padding-bottom: 4vw;
    box-shadow: 0.1vw 0.1vw 2vw rgba(0, 0, 0, 0.01);
    margin: 3vw 0vw;
  }
  .contentHeading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 3.5vw;
    background: lightskyblue;
    /* margin: 0vw -3.6vw 1vw -1.8vw; */
    padding: 1.2vw 5vw 1.2vw 5vw;
    color: white;
    border-radius: 1vw 1vw 0.4vw 0.4vw;
    box-shadow: 0.1vw 0.1vw 2vw rgba(0, 0, 0, 0.01);
  }
  .contentOptions {
    /* border: 1px solid blue; */
    width: 90%;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    text-align: left;
    font-size: 4vw;
    margin: 1.5vw 0vw;
  }
  .postSection {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border-radius: 0.5vw; */
  }
  .contentHeading1 {
    border-radius: 1vw;
    margin: 0vw;
  }
  .createPost {
    padding: 0.8vw 2.8vw;
    font-size: 3.5vw;
    font-weight: bold;
    border-radius: 0.5vw;
    border: none;
    border: 0.1vw solid rgba(255, 255, 255, 0.9);
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgb(19, 160, 248, 0.8);
    background: rgb(255, 255, 255, 0.98);
  }
  /* .createPost:hover{
    color: white;
    background: none;
    border: 0.1vw solid white;
  } */
  .createPost:active {
    filter: blur(0.3vw);
  }
}
